.my-order h1{
 margin-top: 50px;
 margin-bottom: 50px;
}

.my-order .order-img{
    width:100px;

}
.order-data{
    margin-top:10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
}
.my-order {
    margin-bottom: 100px;
}