<div class="product-list">
    <h1>All Product List</h1>
    <p class="product-message">{{productDeleteMessage}}</p>
    <table class="">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allProducts">
                <td><img src="{{item.image}}" alt=""></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td style="border:1px solid red;text-align: center;display: flex;justify-content: space-around;align-items:center;">
                     <fa-icon  [icon]="faTrash" (click)="deleteProduct(item.id)"></fa-icon>
                     <fa-icon  [icon]="faEdit" routerLink="/seller-product-update/{{item.id}}"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>